#main-page {

    border: 3px solid green;
    /* padding: 200px; */
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #step1card{
    margin-top: 10;
  }
  #step2card{
    margin-top: 10;
  }
  #step3card{
    margin-top: 10;
  }
  #get-started{
    margin-top: 10;
    margin-bottom: 10;
    
  }

  #dinner-recipe {
    border: 3px solid green;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px; 
    margin-bottom: 20px;
    display: none;
  }

  #movie-recs {
    border: 3px solid green;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px; 
    margin-bottom: 20px;
    display: none;
  }

  #results-view {
    border: 3px solid green;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px; 
    margin-bottom: 20px;
    display: none;
  }

  .no-display {
    display: none;
  }

  .display {
    display: block;
  }