body {
    background-image: url('./images/decorative-background-with-purple-damask-pattern_1048-3458.jpg');
    font-family: 'Quicksand', sans-serif;
}
/* nav bar */
.navbar {
    background-color: rgba(101, 189, 51, 0.7);
    color: white;
}
.subheader {
    display: inline-block;

    margin: 0 5px 0 0;
}

.navbar-brand {
    color: rgb(113, 75, 182);
}
.navbar-nav {
    display: inline-block;

    margin: 0 5px 0 0;
}
.nav-item {
    color: white;
}
/*main page*/
#main-page {

    background-image: linear-gradient(to bottom right, rgb(76, 145, 12,.7), rgb(209, 238, 81,.7));
    border: 3px solid white;
    /* padding: 200px; */
    margin: 20px auto;
}
/*main page image*/
#main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
/*main page cards*/
#step1card {
    margin-top: 10;
    text-align: center;
}
#step2card {
    margin-top: 10;
    text-align: center;
}
#step3card {
    margin-top: 10;
    text-align: center;
}
#get-started {
    margin-top: 10;
    margin-bottom: 10;

}
/*icon class*/
/* .icon {
    margin-left: 20%;

} */
/*recipe page*/
#dinner-recipe {
  background-image: linear-gradient(to bottom right, rgb(76, 145, 12,.7), rgb(209, 238, 81,.7));
    border: 3px solid white;
    margin: 20px auto;
    display: none;
}
/* movie page*/
#movie-recs {
  background-image: linear-gradient(to bottom right, rgb(76, 145, 12,.7), rgb(209, 238, 81,.7));
    border: 3px solid white;
    margin: 20px auto;
    display: none;
}
/*results page*/
#results-view {
  background-image: linear-gradient(to bottom right, rgb(76, 145, 12,.7), rgb(209, 238, 81,.7));
    border: 3px solid white;
    margin: 20px auto;
    display: none;
}

/*recipe results*/
#recipe-rec {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#recipe-rec2 {
  margin-bottom: 10px;
  text-align: center;
}
#recipe-rec3 {
  margin-bottom: 10px;
  text-align: center;
}
#recipe-icon {
  height: 300px;
  width: 300px;
}

#recipe-icon2 {
  height: 300px;
  width: 300px;
}

#recipe-icon3 {
  height: 300px;
  width: 300p
}

/*movie results*/
#movie-rec {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#movie-rec2 {
  margin-bottom: 10px;
  text-align: center;
}
#movie-rec3 {
  margin-bottom: 10px;
  text-align: center;
}

#movie-icon {
  height: 300px;
  width: 300px;
}

#movie-icon2 {
  height: 300px;
  width: 300px;
}

#movie-icon3 {
  height: 300px;
  width: 300px;
}
.no-display {
    display: none;
}

.display {
    display: block;
}
/*footer*/
/* Changed footer position to relative, to stay at the bottom */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
}
#movie-icon2 {
  width: 250px;
  height: 250px;
}
/*buttons*/